body {
    margin: 0 0 0 0;
    background-color: rgb(248, 248, 248);
}

.header {
    height: 83px;
    background-color: #FAF0E6;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header p {
    font-size: 6vw;
    width: 100%;
}

.header .return-home {
    height: 50px;
    font-size: 20px;
    color: black;
    background-color:#FFFAF0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header .return-home:hover {
    border-style: solid;
    border-color: black;
}

input {
    height: 90px;
    border: none;
    border-radius: 10px;
}

input::placeholder {
    font-size: 19px;
}

.input-layer3 {
    margin-top: 70px;
    background-color: rgb(248, 248, 248);
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.input-layer2 {
    background-color: #343541;
    margin-top: 10px;
    display: flex;
    height: 400px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 30px;
}

.input-layer1 {
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 320px;
    width: 260px;
    row-gap: 30px;
    grid-template-columns: 30px;
    margin-top: 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.submit-layout {
    text-align: center;
    padding: 5px;
}

.submit-layout button {
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    font-size: 19px;
    cursor: pointer;
}